@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-syne: var(--font-syne);
  --font-geist-mono: var(--font-geist-mono);
  --animate-skeleton: skeleton 2s -1s infinite linear;
  --color-warning-foreground: var(--warning-foreground);
  --color-warning: var(--warning);
  --color-success-foreground: var(--success-foreground);
  --color-success: var(--success);
  --color-info-foreground: var(--info-foreground);
  --color-info: var(--info);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);

  @keyframes skeleton {
    to {
      background-position: -200% 0;
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(10px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fade-in-slow {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}

:root {
  --radius: 0px;
  --background: #121212;
  --foreground: #ffffff;
  --card: #121212;
  --card-foreground: #ffffff;
  --popover: #121212;
  --popover-foreground: #ffffff;
  --primary: #ffffff;
  --primary-foreground: #121212;
  --secondary: #1c1c1c;
  --secondary-foreground: #ffffff;
  --muted: #1c1c1c;
  --muted-foreground: #a1a1aa;
  --accent: #1c1c1c;
  --accent-foreground: #ffffff;
  --destructive: #ffffff;
  --border: #27272a;
  --input: #27272a;
  --ring: #ffffff;
  --sidebar: #121212;
  --sidebar-foreground: #ffffff;
  --sidebar-primary: #ffffff;
  --sidebar-primary-foreground: #121212;
  --sidebar-accent: #1c1c1c;
  --sidebar-accent-foreground: #ffffff;
  --sidebar-border: #27272a;
  --sidebar-ring: #ffffff;
  --destructive-foreground: #121212;
  --info: #ffffff;
  --info-foreground: #121212;
  --success: #ffffff;
  --success-foreground: #121212;
  --warning: #ffffff;
  --warning-foreground: #121212;
}

.dark {
  --background: #ffffff;
  --foreground: #121212;
  --card: #ffffff;
  --card-foreground: #121212;
  --popover: #ffffff;
  --popover-foreground: #121212;
  --primary: #121212;
  --primary-foreground: #ffffff;
  --secondary: #f4f4f5;
  --secondary-foreground: #121212;
  --muted: #f4f4f5;
  --muted-foreground: #71717a;
  --accent: #f4f4f5;
  --accent-foreground: #121212;
  --destructive: #000000;
  --border: #e4e4e7;
  --input: #e4e4e7;
  --ring: #121212;
  --sidebar: #ffffff;
  --sidebar-foreground: #121212;
  --sidebar-primary: #121212;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #f4f4f5;
  --sidebar-accent-foreground: #121212;
  --sidebar-border: #e4e4e7;
  --sidebar-ring: #121212;
  --destructive-foreground: var(--color-white);
  --info: #121212;
  --info-foreground: #ffffff;
  --success: #121212;
  --success-foreground: #ffffff;
  --warning: #121212;
  --warning-foreground: #ffffff;
}

@layer base {
  * {
    border-color: var(--border);
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-syne), sans-serif;
  }
}

.language-bar {
  background-color: white;
}

:root .language-bar[data-language="JavaScript"] {
  background-color: #f7df1e;
}

:root .language-bar[data-language="TypeScript"] {
  background-color: #3178c6;
}

:root .language-bar[data-language="Python"] {
  background-color: #3776ab;
}

:root .language-bar[data-language="Java"] {
  background-color: #007396;
}

:root .language-bar[data-language="Go"] {
  background-color: #00add8;
}

:root .language-bar[data-language="Rust"] {
  background-color: #ce422b;
}

:root .language-bar[data-language="CSS"] {
  background-color: #1572b6;
}

:root .language-bar[data-language="HTML"] {
  background-color: #e34f26;
}

:root .language-bar[data-language="C++"] {
  background-color: #00599c;
}

:root .language-bar[data-language="C"] {
  background-color: #a8b9cc;
}

:root .language-bar[data-language="C#"] {
  background-color: #239120;
}

:root .language-bar[data-language="Ruby"] {
  background-color: #cc342d;
}

:root .language-bar[data-language="PHP"] {
  background-color: #777bb4;
}

:root .language-bar[data-language="Swift"] {
  background-color: #fa7343;
}

:root .language-bar[data-language="Kotlin"] {
  background-color: #7f52ff;
}

:root .language-bar[data-language="Dart"] {
  background-color: #0175c2;
}
